eel
fastapi
subprocess-run
pyinstaller
playsound==1.2.2
pyaudio
numpy
pandas
requests
openai
speechrecognition
sounddevice
gtts
pyttsx3
ffmpeg-python
Flask==2.2.3
gunicorn==21.2.0
requests==2.31.0
uvicorn


